@font-face {
	font-family: Open Sans;
	src:url(http://themes.googleusercontent.com/static/fonts/opensans/v8/u-WUoqrET9fUeobQW7jkRfY6323mHUZFJMgTvxaG2iE.eot);
}
@font-face {
	font-family: Roboto;
	src:url(http://themes.googleusercontent.com/static/fonts/roboto/v10/3KAd02OzFSDbt78HTOt2og.eot);
}
